@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #303349;
$blue: #008FE5;
.pb-60 {
    padding-bottom: 60px;
}
.pt-60 {
    padding-top: 60px;
}
div {
    outline: none !important;
}
html {
    overflow-x: hidden;
}
body {
    box-sizing: border-box;
    padding: 0 !important; 
    font-size: 20px; 
    line-height: 1.65;
    transition: .3s all; 
    position: relative;
    font-weight: normal;
    overflow-x: hidden;
    background: #fff;
    font-family: 'Segoe UI';
    outline: none !important;
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;      
        transition: .3s all; 
        margin-bottom: 0;  
        outline: none !important;  
    }  
    a {  
        transition: .3s all;
        color: $black;
    }
    ul {   
    	padding: 0;
    	margin: 0;
    }
    input, button {
    	outline: none !important;
    	box-shadow: none;
    	transition: .3s all;
    }
    .slick-slide {
    	height: auto;
    }
    .container {
        width: 100%;
        max-width: 1630px;
        padding: 0 80px;
    }
}
.avarta {
    overflow: hidden;
    img {
        transition: .7s all !important;
        // &:hover {
        //     transition: .7s all;
        //     transform: scale(1.1);
        // }
    }
}  
.slick-slider {
    margin-bottom: 0;
}
.bg-blue {
    position: absolute;
    top: 0;
    left: 0;
    background: $blue;
    width: 100%;
    height: 410px;
    z-index: -1;
    pointer-events: none;
}
.footer-top { 
    background: $blue;
    padding: 50px 0;
    color: #fff;
    a {
        color: #fff;
    }
}
.item-footer {
    h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.link-ft {
    ul {
        li {
            list-style: none;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-size: 16px;
            }
        }
    }
}
.ft-logo {
    ul {
        display: flex;
        align-items: center;
    }
}
.item-ft {
    h3 {
        font-size: 20px;
        font-weight: 600;
    }
}
.copyright {
    font-size: 18px;
    padding: 10px 0;
    font-weight: 600;
}
// start menu
header {
    padding: 35px 0;
    margin-bottom: 20px;
}
.h-menu {
    ul {
        display: flex;
        width: 100%;
        align-items: flex-end;
        li {
            list-style: none;
            padding-right: 40px;
            &:last-child {
                padding-right: 0;
            }
        }
    }
    a {
        font-size: 18px;
        font-weight: bold;
        color: #C2D7E3;
        display: flex;
        align-items: center;
        img {
            margin-right: 6px;
        }
        &.active {
            color: #fff; 
        }
    }
}
.m-right {
    position: relative;
    top: 10px;
    a {
        display: flex;
        font-weight: bold;
        font-size: 18px;
        align-items: center;
        height: 40px;
        padding: 0 30px;
        border-radius: 35px;
        min-width: 152px; 
        justify-content: center;
    }
    .btn-app {
        color: #5494F5;
        background: #fff;
        padding-bottom: 2px;
    }
    .btn-link {
        color: #fff;
        border: 1px solid #fff;
    }
}
// end menu

.box-slide-banner {
    padding-bottom: 60px;
}
.slick-arrow {
    cursor: pointer;
    border: 0;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    z-index: 2;
    top: calc(50% - 25px);
    &.prev {
        left: 40px;
    }
    &.next {
        right: 40px;
    }
}
.slide-baner {
    .item {
        .avarta {
            border-radius: 20px;
            position: relative;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #212121;
                opacity: .75;
                z-index: 1;
            }
        }
        .btn-play {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
        }
    }
    .slick-dots {
        bottom: 20px;
        button {
            display: none;
        }
        li {
            width: 70px;
            height: 4px;
            border-radius: 30px;
            background: #ddd;
            &.slick-active {
                background: $blue;
            }

        }
    }
}
.title {
    margin-bottom: 40px;
    h2 {
        font-size: 50px;
        font-weight: bold;
    }
    p {
        font-size: 26px;
        font-weight: 600;
        color: #767676;
    }
}
.item-mss {
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(2n) {
        .col-md-6 {
            &:nth-child(2n) {
                order: 1;
            }
            &:nth-child(2n+1) {
                order: 2;
            }
        }
    }
}
.txt-miss {
    height: 100%;
    box-shadow: 10px 5px 40px #ddd;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    .left {
        flex: 0 0 115px;
        margin-right: 10px;
    }
    .right {
        flex: 0 0 calc(100% - 125px);
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 12px;
    }
    p {
        font-size: 18px;
        color: #767676;
    }
    .desc {
        line-height: 1.8;
    }
}
.list-adv {
    .col-md-6 {
        margin-bottom: 30px;
    }
}
.item-adv {
    height: 100%;
    padding: 20px;
    box-shadow: 10px 5px 40px #ddd;
    border-radius: 20px;
    .icon-top {
        margin-bottom: 20px;
    }
    .info {
        max-width: 395px;
        margin: 0 auto;
        h3 {
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }
}
.info-price {
    background: url('../images/bn-price.png') no-repeat center;
    // background-size: cover;
    overflow: hidden;
    border-radius: 20px;
    padding: 70px 0;
    ul {
        li {
            list-style: none;
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                font-size: 20px;
                font-weight: normal;
                color: #7DD2F0;
                display: inline-block;
                margin-left: 15px;
            }
        }
    }
}
.box-teacher {
    background-size: cover !important;
    padding: 100px 0;
}
.item-teacher {
    background: #fff;
    overflow: hidden;
    border-radius: 30px;
    padding: 80px 40px;
    text-align: center;
    .avarta {
        border-radius: 100%;
        width: 166px;
        height: 166px;
        margin: 0 auto 20px auto;
        position: relative;
        overflow: unset;
        &:after {
            content: url(../images/icon-cmt.svg);
            position: absolute;
            top: 6px;
            right: -25px;
            opacity: .7;
        }
    }
    h4 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: capitalize;
    }
    h5 {
        font-size: 20px;
        color: #7DD2F0;
        font-weight: normal;
        margin-bottom: 15px;
    }
    .edsc {
        font-size: 18px;
        color: #979797;
        font-style: italic;
    }
} 
.slide-teacher {
    margin: 0 -30px;
    .item-slide {
        padding: 0 30px;
    }
} 
.slide-feedback {
    margin: 0 -30px;
    padding-bottom: 50px;
    border-bottom: 2px solid #fbcf6e;
    .item-slide {
        padding: 0 30px;
    }
}
.item-feed {
    text-align: center;
    padding-top: 20px;
    img {
        display: inline;
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        font-size: 40px;
        color: #FBCF6D;
        font-weight: bold;
    }
    .desc {
        font-size: 18px;
        font-weight: normal;
        font-style: italic;
        color: #979797;
    }
    .info-top {
        box-shadow: 0px 0px 20px 3px #ddd;
        padding: 15px 50px 50px 50px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .avarta {
        img {
            width: 166px;
            height: 166px;
            border-radius: 100%;
            margin-bottom: 20px;
        }
        h6 {
            font-size: 30px;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}
.slide-khoahoc {
    margin: 0 -15px;
    padding: 0 50px;
    .item-slide {
        padding: 0 15px;
    }
    .slick-arrow.prev {
        left: 0;
    }
    .slick-arrow.next {
        right: 0;
    }
}
.item-khoahoc {
    overflow: hidden;
    border-radius: 30px;
    height: 100%;
    background: #fff;
    .info {
        padding: 25px;
        font-size: 18px;
        color: #5C5C5C;
        .link-list {
            color: #7DD2F0;
            font-style: italic;
        }
        .desc {
            margin-bottom: 10px;
        }
    }
}
.box-khoahoc {
    background: url('../images/bn-kh.png') no-repeat center;
    background-size: cover;
    padding: 65px 0;
    .btn-more {
        a {
            font-size: 22px;
            font-weight: bold;
            background: #5494F5;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 65px;
            width: 100%;
            border-radius: 10px;
            text-transform: capitalize;
        }
    }
}
.box-subscribe {
    padding: 35px 0;
    border-top: 10px solid #008fe5;
    margin-top: 20px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            padding: 0 10px;
            margin-right: 0 !important;
            img {
                border-radius: 10px;
                box-shadow: 0px 0px 20px 3px #ddd;
                margin-right: 20px;
            }
        }
    }
    .txt-sub {
        font-size: 18px;
        color: #008FE5;
        font-weight: bold;
        display: flex;
        align-items: center;
    }
    .inp_sub {
        height: 45px;
        padding: 0 15px;
        border-radius: 30px;
        border: 1px solid #008FE5;
        font-size: 15px;
        min-width: 250px;
    }
    .btn-sub {
        height: 45px;
        background: #008FE5;
        padding: 0 30px;
        border-radius: 30px;
        cursor: pointer;
        color: #fff;
        padding-bottom: 2px;
        border: 0;
    }
}

.list-apps {
    h1 {
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 40px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        align-items: center;
        li {
            flex: 0 0 20%;
            box-sizing: border-box;
            padding: 0 15px;
            list-style: none;
            img {
                width: 100%;
                border-radius: 20px;
            }
            &:first-child {
                flex: 0 0 40%;
            }
            iframe {
                width: 100%; 
                height: 330px;
                border-radius: 20px;
            }
        }
    }
}
.form-contact {
    background: #fff;
    max-width: 450px;
    width: 100%;
    padding: 50px;
    border-radius: 20px;
    line-height: 1.4;
    font-size: 18px;
    box-shadow: 10px 5px 40px #ddd;
    ul {
        position: relative;
        &:after {
            content: "";
            width: 1px;
            height: 100%;
            border: 1px dashed #ebebeb;
            position: absolute;
            left: 20px;
            top: 0;
        }
        li {
            list-style: none;
            display: flex;
            margin-bottom: 35px;
            position: relative;
            z-index: 1;
            &:last-child {
                margin-bottom: 0;
                background: #fff;
            }
            span {
                color: #B3BCC8;
            }
            .icon {
                margin-right: 10px;
                flex: 0 0 39px;
            }
            p {
                img {
                    margin-left: 10px;
                }
            }
        }
    }
}

.sidebar {
    background: #fff;
    height: 100%;
    padding: 50px 25px;
    box-shadow: 10px 5px 40px #ddd;
    border-radius: 20px;
    li {
        list-style: none;
        padding: 15px 0;
        border-top: 1px solid #ddd;
    }
    a {
        display: flex;
        align-items: center;
        font-weight: 600;
        position: relative;
        &:hover {
            color: $blue;
        }
        img {
            flex: 0 0 22px;
            margin-right: 18px;
        }
        &:after {
            content: "\f105";
            font-family: FontAwesome;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
        }
        &.active {
            color: $blue;
            &:after {
                opacity: 1;
            }
        }
    }
    .user-top {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .avarta {
            flex: 0 0 66px;
            border-radius: 100%;
            margin-right: 20px;
            border: 1px solid #0051CA;
        }
        h6 {
            font-size: 30px;
            font-weight: bold;
        }
    }
}
.lotrinh {
    h1 {
        color: #fff;
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: bold;
    }
}
.list-lotrinh {
    background: #fff;
    padding: 45px 45px 45px 120px;
    border-radius: 15px;
    box-shadow: 10px 5px 40px #ddd;
    position: relative;
}
.item-lotrinh {
    background: #fafafc;
    border: 1px dashed #ddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    .status {
        flex: 0 0 120px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 30px;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #0051CA;
        border-radius: 18px;
        position: relative;
        &.active {
            background: #0051CA;
            color: #fff;
            padding-left: 20px;
            &:after {
                content: url(../images/check.png);
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }
    }
}
.slide-list-docs {
    margin: 0 -5px;
    .item-slide {
        padding: 5px;
    }
    .slick-dots {
        position: unset;
        margin-top: 20px;
        li {
            width: auto;
            button {
                padding: 0;
                font-size: 18px;
                background: transparent;
                color: #000000;
                width: 45px;
                height: 45px;
                border-radius: 100%;
                font-weight: 600;
                &:before {
                    display: none
                }
            }
            &.slick-active {
                button {
                    background: #1272F9;
                    color: #fff;
                }
            }
        }
    }
}
.list-giasu {
    .col-md-3 {
        margin-bottom: 30px;
    }
}
.item-gs {
    background: #fff;
    box-shadow: 10px 5px 40px #ddd;
    padding: 20px;
    border-radius: 10px;
    .avarta {
        border-radius: 10px;
        overflow: hidden;
    }
    .info {
        padding-top: 25px;
        position: relative;
        li {
            a {
                font-size: 14px;
                font-weight: bold;
                color: #5494F5;
                display: flex;
                height: 27px;
                border-radius: 30px;
                background: #EAF8FF;
                align-items: center;
                padding: 0 10px;
            }
        }
        .place-gs {
            position: absolute;
            top: 5px;
            right: 0;
            a {
                color: #CBCBCB;
                font-size: 11px;
                font-weight: 600;
                background: transparent;
                position: relative;
                padding: 0px 0 0 15px;
                border-top: 2px solid #CBCBCB;
                border-radius: 0;
                &:after {
                    content: "\f041";
                    font-family: FontAwesome;
                    position: absolute;
                    top: 3px;
                    left: 0;
                }
            }
        }
    }
    h3 {
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0;
    }
    h4 {
        color: #7DD2F0;
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .desc {
        color: #CBCBCB;
        font-style: italic;
        font-size: 15px;
    }
}
.btn-gs {
    padding-top: 15px;
    a {
        height: 34px;
        background: #0051CA;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        border-radius: 30px;
        padding-bottom: 2px;
    }
}
.sex {
    a {
        color: #dddddd;
        display: flex;
        height: 36px;
        align-items: center;
        padding: 0 10px;
        border-radius: 30px;
        &.active {
            color: #1FBA4A;
            background: #D2FCE4;
        }
    }
}
.gs-hot {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    background: #fff;
    box-shadow: 1px -3px 20px #ddd;
}
.item-gs-hot {
    display: flex;
    align-items: center;
    .avarta {
        flex: 0 0 100px;
        margin-right: 10px;
    }
}
.gs-left {
    .avarta-user {
        text-align: center;
        position: relative;
        width: 100px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 100%;    
        margin-bottom: 10px;
        img {
            width: 100px;
            height: 100px;
            border-radius: 100%;
            object-fit: cover;
        }
        label {
            position: absolute;
            width: 100%;
            height: 30%;
            display: flex;
            left: 0;
            bottom: 0;
            align-items: center;
            justify-content: center;
            background: #3b3b3b9e;
            color: #fff;
            cursor: pointer;
        }
    }
    #cmnd {
        height: 300px;
        background-size: cover;
    }
}
.info-avar-gs {
    text-align: center;
    input {
        background: transparent;
        border: 0;
        width: 100%;
        text-align: center;
        color: #fff;
    }
    .inp_name {
        font-size: 30px;
        font-weight: bold;
        position: relative; 
        margin-bottom: -20px;
    }
}
.check-class {
    filter: grayscale(1);
    opacity: .5;
    &.active {
        filter: grayscale(0);
        opacity: 1;
    }
}

.about-top {
    max-width: 800px;
    color: #fff;
    margin-bottom: 60px;
    h1 {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.title-about {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.content-about {
    padding-top: 60px;
}
.list-about {}
.item-about {
    display: flex;
    align-items: center;
    &:nth-child(2n+1) {
        .avarta {
            flex: 0 0 300px;
            margin-right: 40px;
        }
    }
    &:nth-child(2n) {
        .avarta {
            flex: 0 0 460px;
            margin-left: 40px;
            order: 2;
        }
        .info {
            order: 1;
        }
    }
    .info {
        h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
            position: relative;
            padding-bottom: 10px;
            &:after {
                content: "";
                width: 144px;
                height: 2px;
                background: #008FE5;
                position: absolute;
                left: 0;
                bottom: -5px;
            }
        }
    }
}
.box-cmnd {
    max-width: 525px;
    background: #fff;
    border-radius: 15px; 
    position: relative;
    margin: 20px auto 40px auto;
    box-shadow: 0px 19px 20px #ddd;
    img {
        width: 100%;
        border-radius: 15px;
    }
}
.lab-upload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
    // background: #fff;
    height: 100%;
    font-size: 40px;
    color: #58B333;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    display: flex;
    &:after {
        content: "";
        width: 94%;
        height: 90%;
        border: 2px dashed #ddd;
        position: absolute;
        border-radius: 15px;
        left: 3%;
        top: 5%;
    }
}
.btn-upload {
    font-size: 18px;
    font-weight: bold;
    background: #3E8BFA;
    color: #fff;
    height: 50px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0 40px;
    border-radius: 15px;
}
.box-form {
    box-shadow: 0px 19px 20px #ddd;
    background: #fff;
    padding: 35px 60px 35px 35px;
    border-radius: 15px;
    h3 {
        font-size: 25px;
        font-weight: bold;
        color: #3E8BFA;
        margin-bottom: 20px;
    }
    .list-form {
        label {
            font-size: 18px;
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
        }
        input, select {
            height: 50px;
            padding: 0 15px;
            width: 100%;
            border: 0;
            background: #F7F8F9;
            border-radius: 10px;
            font-size: 15px;
            outline: none;
        }
        input[type="submit"] {
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            background: #3e8bfa;
            color: #fff;
        }
        textarea {
            height: 200px;
            padding: 10px 15px;
            width: 100%;
            border: 0;
            background: #F7F8F9;
            border-radius: 10px;
            font-size: 15px;
            outline: none;
        }
        .row {
            margin: 0 -5px 15px -5px;
            .col-md-12, .col-md-6, .col-md-8 {
                padding: 0 5px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
} 
.item-lotrinh {
    .inf {
        h2 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
    ul {
        font-size: 18px;
        span {
            font-weight: bold;
        }
        a {
            font-style: italic;
            color: #28A272;
            margin-right: 15px;
            padding-right: 15px;
            position: relative;
            img {
                margin-left: 10px;
            }
            &:after {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 2px;
                right: -5px;
                background: #ddd;
            }
            &.upload {
                padding-right: 0;
                margin-right: 0;
                &:after {
                    display: none;
                }
            }
        }
    }
}

@import "add.scss";